
.inputField {
    color: #333; /* •¶š‚ÌF */
    background-color: #f0f0f0; /* ”wŒiF */
    padding: 8px;
    border: 1px solid #777777;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 24px;
}

.label {
    color:black;
}