
.input {
    margin:0 56px;
}
.inputField {
    color: #333; 
    background-color: white; 
    padding: 8px;
    border: 1px solid #777777;
    border-radius: 4px;
    width: 100%;
    margin:4px 0px 32px 0px;
    height: 48px;
}

.label {
    color:black;
}