.contactPage {
    background-color:#eae9e9;
    padding: 32px;
}
.title {
    color: black;
    text-align: center;
    padding: 24px;
}
.description {
    text-align: center;
    padding-bottom: 32px;
}




